.container{
  margin: 0 auto;
  padding: 0 0 1rem 1rem;
  background-color: palegoldenrod;

}

.minus{
  border-right: 5px solid lightcoral;
}
.add{
  border-right: 5px solid lightgreen;
}
.plus{
  color: green;
}
.debit{
  color: red;
}


@media (max-width: 480px){
  .container{
    width: 100%;
    padding: 0;
    margin: 0;

  }


}