body {
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 80%;
  --btncolor: seagreen;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 480px){
  body{ 
    width: 100%;
    margin: 0;
  }
  button{
    color: white;
    font-size: 1rem;
  }
}